@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
     
     * { margin: 0px; padding: 0px;  box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-text-size-adjust: none; }
     html, body { width: 100%; font-size: 16px; line-height: 24px; color: #000; font-family: 'Poppins', sans-serif;font-weight: 400; background: #fff; }
     
     input[type=checkbox] { -webkit-appearance: checkbox; margin: 5px 0 0 5px; display: inline-block; vertical-align: top;}
     button, input, textarea, select { -webkit-border-radius: 0px; font-family: 'Poppins', sans-serif; font-weight: 400;  font-size: 16px; transition: all 0.6s; -webkit-transition: all 0.5s; -ms-transition: all 0.5s; }
     :focus,input:focus, textarea:focus, button:focus { outline: none; }
     html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }
     article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
     :focus { outline: none; border: 0; box-shadow: inherit }
     .form-control:focus { box-shadow: inherit; }
   
     a { text-decoration: none; transition: all 0.5s !important; -webkit-transition: all 0.5s !important; -ms-transition: all 0.5s !important; text-decoration: none; outline: none; color: #000; }
     a:hover { text-decoration: none; }
     /* z */
     ul, ol { list-style: none; }
     h1, h2, h3, h4, h5, h6 { font-family: 'Poppins', sans-serif; font-weight: 700;  }

    
     
     img { display: block; }  
     #wrapper {
          width: 100%;
          position: relative; 
          overflow: hidden;
     }
     .container {
          max-width: 1092px;
          margin: 0 auto;
          padding: 0 20px;
     }

     .displayflex {
          display: flex;
          display: -webkit-flex;
          justify-content: space-between;   
          flex-wrap: wrap;       
     }
     .align-items {
          align-items: center;
     }

    

    /* loginBannerArea */
    .loginContentArea {
        width: 100%;
        height: calc(100vh - 0px);
        display: flex;
        align-items: center;
        justify-content: center;
        background: #069DE1;
    }
   
    

/* dashboard page */
     
     /* ===== SIDEBAR ===== */
    .sidebar {
      width: 250px;
      background: #1f1f2e;
      color: #fff;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      transition: all 0.3s;
      z-index: 10;
    }

    .sidebar h2 {
      text-align: center;
      padding: 24px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .sidebar .logo {
      text-align: center;
      padding: 24px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .logo img {
      width: 200px;
      margin: 0 auto;
    }

    .login-container .logo {
      margin-bottom: 40px;
    }

    .sidebar ul {
      list-style: none;
      margin-top: 20px;
      padding: 0;
    }

    .sidebar ul li {
      margin: 10px 0;
    }

    .sidebar ul li a {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #fff;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 8px;
      transition: 0.3s;
    }

    .sidebar ul li a:hover,
    .sidebar ul li a.active {
      background: #ff7043;
    }


    /* ===== MAIN CONTENT ===== */
    .main {
      margin-left: 250px;
      padding: 20px;
      flex: 1;
      padding-bottom: 100px;
    }

    .topbar {
      background: #fff;
      padding: 0px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .topbar h2 {
      font-size: 20px;
      font-weight: 600;
    }

    /* ===== USER DROPDOWN ===== */
    .user-menu {
        padding: 12px 0;
      position: relative;
      display: inline-block;
      cursor: pointer;
    }

    .user-icon {
      font-size: 28px;
      color: #555;
      transition: 0.3s;
    }

    .user-icon:hover {
      color: #ff7043;
    }

    .dropdown {
      position: absolute;
      top: 100%;
      right: 0;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.15);
      width: 160px;
      display: none;
      overflow: hidden;
      z-index: 999;
    }

    .dropdown a {
      display: block;
      padding: 10px 15px;
      color: #333;
      text-decoration: none;
      font-size: 14px;
      transition: 0.3s;
    }

    .dropdown a:hover {
      background: #ff7043;
      color: #fff;
    }

    .menu-btn {
      display: none;
      font-size: 22px;
      cursor: pointer;
      color: #333;
    }

    /* Show dropdown on hover */
    .user-menu:hover .dropdown {
      display: block;
    }

    /* ===== FILTER BUTTONS ===== */
    .filters {
      margin: 20px 0;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    .filters button {
      background: #fff;
      border: 1px solid #ddd;
      padding: 8px 15px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 14px;
      transition: 0.3s;
    }

    .filters button:hover,
    .filters button.active {
      background: #ff7043;
      color: #fff;
      border-color: #ff7043;
    }
    .idText {
      cursor: text;
    }

    /* ===== TABLE GRID ===== */
    .table-grid {
      padding: 50px 0 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      gap: 20px;
    }

    .table-card {
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 2px 16px rgba(0,0,0,0.1);
      padding: 40px 20px;
      text-align: center;
      transition: 0.3s;
      position: relative;
    }

    .bell-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 28px;
      color: #fff;
      cursor: pointer;
      display: none;
    }
    .table-card.active .bell-icon {
      display: block;
      animation: ring 1s infinite;
      transform-origin: top center;
    }

    @keyframes ring {
      0% { transform: rotate(0); }
      10% { transform: rotate(15deg); }
      20% { transform: rotate(-10deg); }
      30% { transform: rotate(5deg); }
      40% { transform: rotate(-5deg); }
      50% { transform: rotate(0deg); }
      100% { transform: rotate(0deg); }
    }

    .table-card.active {
          background: #ff7043;
    }

    .table-card:hover {
      transform: translateY(-5px);
    }

    .table-card h3 {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 5px;
    }
    .table-card.active h3 {
     color: #fff;
     font-weight: 700;
    }

    .table-card p {
      font-size: 14px;
      margin-bottom: 8px;
      color: #666;
    }

    .status {
      display: inline-block;
      padding: 5px 10px;
      border-radius: 20px;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .available { background: #d4edda; color: #155724; }
    .occupied { background: #f8d7da; color: #721c24; }
    .reserved { background: #fff3cd; color: #856404; }

    /* ===== FOOTER ===== */
    footer {
      text-align: center;
      padding: 15px;
      font-size: 13px;
      color: #777;
      margin-top: 30px;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background: #fff;
      /* border-top: 1px solid #ddd; */
    }

/* ===== RESPONSIVE ===== */
    @media(max-width: 768px) {
      .sidebar {
        left: -250px;
      }
      .sidebar.active {
        left: 0;
      }
      .main {
        margin-left: 0;
      }
      .menu-btn {
        display: block;
      }
     

      .close-btn {
        font-size: 22px;
        color: #fff;
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;
      }

      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
        display: none;
        z-index: 1;
      }

      .overlay.active {
        display: block;
      }
    }

    

     /* login page css */


.login-container {
     background: #fff;
     padding: 40px 35px;
     border-radius: 15px;
     box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
     max-width: 530px;
     margin: 0 auto;
     text-align: center;
     transition: 0.3s;
}

    .login-container:hover {
      transform: translateY(-3px);
    }

    .login-container h2 {
      margin-bottom: 20px;
      color: #333;
    }


    .login-container .form_item {
          position: relative;
         margin: 0 0 35px;
     }
     .login-container .form_item .form-control {
          padding: 0 0 6px 36px;
          width: 100%;
          font-size: 16px;
          line-height: normal;
          color: #000;
          border: 0;
          border-radius: 0;
          border-bottom: 1px solid #069DE1;
     }

     .login-container .login_icon {
          position: absolute;
          top: -8px;
          bottom: 0;
          margin: auto;
          display: flex;
          align-items: center;
          left: 0;
     }

     .login-container .login_icon_right {
          position: absolute;
          top: -8px;
          bottom: 0;
          margin: auto;
          display: flex;
          align-items: center;
          right: 0;
     }
     
      .login-container .form_item .form-control::-webkit-input-placeholder { 
          opacity:1; 
          color: #000; 
     }
      .login-container .form_item .form-control::-moz-placeholder { 
          opacity:1; 
          color: #000; 
     }
      .login-container .form_item .form-control:-ms-input-placeholder { 
          opacity:1; 
          color: #000; 
     }

     .login-container  .form-group {
          display: block;
     }

    .input-box {
      position: relative;
      margin-bottom: 20px;
    }

    .input-box input {
      width: 100%;
      padding: 12px 40px 12px 15px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 14px;
      outline: none;
      transition: 0.3s;
    }

    .input-box input:focus {
      border-color: #069DE1;
      box-shadow: 0 0 4px rgba(255, 112, 67, 0.5);
    }

    .input-box i {
      position: absolute;
      right: 15px;
      top: 12px;
      color: #777;
      cursor: pointer;
    }

    .remember {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 13px;
      margin-bottom: 20px;
      color: #555;
    }

    .btn {
      
      background: #069DE1;
      border: none;
      color: #fff;
      padding: 12px 60px;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s;
      border-radius: 50px;
      border: 1px solid transparent;
    }

    .btn:hover {
      background: #fff;
      color: #069DE1;
      border-color: #069DE1;
     
    }

    .register {
      margin-top: 15px;
      font-size: 13px;
      color: #555;
    }

    .register a {
      color: #069DE1;
      text-decoration: none;
      font-weight: 600;
    }

    .register a:hover {
      text-decoration: underline;
    }
    .forgot {
     margin: 5px 0 0;
     display: block;
     color: #000;
     font-size: 14px;
     font-weight: 400;
     line-height: normal;
    }

    /* Responsive */
    @media (max-width: 400px) {
     .login-container {
        width: 90%;
        padding: 30px 25px;
     }
    }
    .footerSite {
          width: 100%;
          background: #069DE1;
          position: fixed;
          bottom: 0px;
          z-index: 99;
     }
     .copyRight {
          padding: 22px 0 24px;
          border-top: 1px solid #fff;
     }
     .footerSite p {
          color: #FFF;
          text-align: center;
          font-size: 14px;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.14px;
     }

     /* gust screen */
     .desktopText {
      width: 100%;
      font-size: 48px;
      text-align: center;
      display: flex;
      align-items: center;
      align-items: center;
      justify-content: center;
      height: 100vh;
      line-height: 1.3;
     }
     .guest_wrapper {
      padding: 0px 0;
      display: none;
     }
     .switchesArea {
      width: 100%;
      padding: 80px 0;
      height: calc(100vh - 190px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     }
     .switchesArea h2 {
      text-align: center;
      margin-bottom: 50px;
      font-size: 28px;
     }

    .switches-container {
        width: 310px;
        position: relative;
        display: flex;
        padding: 0;
        position: relative;
        /* background: #ff7043; */
        line-height: 5rem;
        border-radius: 3rem;
        margin-left: auto;
        margin-right: auto;
    }

      /* input (radio) for toggling. hidden - use labels for clicking on */
      .switches-container input {
          visibility: hidden;
          position: absolute;
          top: 0;
      }

      /* labels for the input (radio) boxes - something to click on */
      .switches-container label {
          width: 50%;
          padding: 0;
          margin: 0;
          text-align: center;
          cursor: pointer;
          color: #fff;
          font-size: 24px;
      }

      /* switch highlighters wrapper (sliding left / right) 
          - need wrapper to enable the even margins around the highlight box
      */
      .switch-wrapper {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 50%;
          /* padding: 0.15rem; */
          z-index: 3;
          transition: transform .5s cubic-bezier(.77, 0, .175, 1);
          /* transition: transform 1s; */
      }

      /* switch box highlighter */
      .switch {
          border-radius: 3rem;
          background: #f6450f;
          height: 100%;
      }

      /* switch box labels
          - default setup
          - toggle afterwards based on radio:checked status 
      */
      .switch div {
          width: 100%;
          text-align: center;
          opacity: 0;
          display: block;
          color: #fff ;
          transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
          will-change: opacity;
          position: absolute;
          top: 0;
          left: 0;
          font-size: 26px;
          font-weight: 600;
      }

      /* slide the switch box from right to left */
      .switches-container input:nth-of-type(1):checked~.switch-wrapper {
          transform: translateX(0%);
      }

      /* slide the switch box from left to right */
      .switches-container input:nth-of-type(2):checked~.switch-wrapper {
          transform: translateX(100%);
      }

      /* toggle the switch box labels - first checkbox:checked - show first switch div */
      .switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
          opacity: 1;
          background: #f1683f;
          color: #fff;
        border-radius: 60px;
    }

    /* toggle the switch box labels - second checkbox:checked - show second switch div */
    .switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
        opacity: 1;
    }

    /* Default inactive (Ring) */
    .switches-container label[for="switchYearly"] {
      background: #ccc;
      color: #555;
    }

    /* When RING is checked */
    #switchYearly:checked ~ label[for="switchMonthly"] {
      background: #ccc;
      color: #000;
      border-radius: 40px 0 0 40px;
    }
    #switchYearly:checked ~ label[for="switchYearly"] {
          background: #f6450f;
          color: #fff;
          border-radius: 0 40px 40px 0;
    }

    /* When OFF is checked */
    #switchMonthly:checked ~ label[for="switchMonthly"] {
        background: #f1683f;
        color: #fff;
        border-radius: 40px 0 0 40px;
    }
    #switchMonthly:checked ~ label[for="switchYearly"] {
          background: #ccc;
          color: #000;
          border-radius: 0 40px 40px 0;
    }

.viewButton {
  width: 100%;
  text-align: center;
  margin-top: 70px;
}
.viewBtn {
  padding: 20px 56px;
  font-size: 18px;
  color: #fff;
  background: #333;
  border-radius: 50px;
  display: inline-block;
}
@media (max-width: 767px) {
     .guest_wrapper {
        display: block;
     }
     .desktopText {
      display: none;
     }
     .guest_wrapper .topbar {
        padding: 15px 10px;
        text-align: center;
        justify-content: center;

     }
  }
     

     
    
 

